body {
  background-image: url('img/b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  padding: 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}

.icon-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 75%;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
}

.icon-container a img {
  width: 60%;
  height: auto;
}

@media only screen and (max-width: 375px) {
  /* Estilos para iPhone SE, iPhone 6/7/8, iPhone 12 mini */
  .icon-container a {
    width: 60px;
    height: 60px;
    margin: 5px;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  /* Estilos para iPhone X, iPhone XS, iPhone 11 Pro, iPhone 12, iPhone 12 Pro */
  .icon-container a {
    width: 70px;
    height: 70px;
    margin: 8px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* Estilos para iPhone X, iPhone XS, iPhone 11 Pro, iPhone 12 mini, iPhone 13 mini */
  .icon-container a {
    width: 60px;
    height: 60px;
    margin: 5px;
  }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  /* Estilos para iPhone XR, iPhone 11, iPhone 11 Pro Max, iPhone 12 Pro Max */
  .icon-container a {
    width: 70px;
    height: 70px;
    margin: 8px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 2) {
  /* Estilos para iPhone XR, iPhone 11, iPhone 11 Pro Max, iPhone 12, iPhone 13 */
  .icon-container a {
    width: 60px;
    height: 60px;
    margin: 5px;
  }
}
@media only screen and (device-width: 360px) and (device-height: 640px) {
  .icon-container a {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
}

@media only screen and (device-width: 360px) and (device-height: 740px) {
  .icon-container a {
    width: 60px;
    height: 60px;
    margin: 8px;
  }
}

@media only screen and (device-width: 412px) and (device-height: 732px) {
  .icon-container a {
    width: 70px;
    height: 70px;
    margin: 10px;
  }
}

@media only screen and (device-width: 480px) and (device-height: 800px) {
  .icon-container a {
    width: 80px;
    height: 80px;
    margin: 12px;
  }
}
